In [4]:
#Data Manipulation
import pandas as pd
data={'Name':["Harsh","Maanas","Akshar","Lokesh","Ankit"],'Age':[30,31,28,35,29],'City':["Patna","Delhi","Jodhpur","Uttar Pradesh","Uttarakhand"]}
df=pd.DataFrame(data)
df

     Name  Age           City
0   Harsh   30          Patna
1  Maanas   31          Delhi
2  Akshar   28        Jodhpur
3  Lokesh   35  Uttar Pradesh
4   Ankit   29    Uttarakhand

In [12]:
#Filter data based on condition
df_updated=df[df['Age']>28]
print("Data filtered by Age: ",df_updated)
#Data Sorting by Age 
df_age=df.sort_values(by='Age',ascending=True)
print("Data sorted by Age: ",df_age)
#Group Data by City and calculate avergae age
df_group=df['Age'].mean()
print("Mean of the Data by Age: ",df_group)

Data filtered by Age:       Name  Age           City
0   Harsh   30          Patna
1  Maanas   31          Delhi
3  Lokesh   35  Uttar Pradesh
4   Ankit   29    Uttarakhand
Data sorted by Age:       Name  Age           City
2  Akshar   28        Jodhpur
4   Ankit   29    Uttarakhand
0   Harsh   30          Patna
1  Maanas   31          Delhi
3  Lokesh   35  Uttar Pradesh
 Data grouped by City:  30.6

In [15]:
p=pd.Series((4,5,6))
print("Series without index: ",p)
p_i=pd.Series((4,5,6),index=("Ikka","Begum","Baadshah"))
print("Series with index: ",p_i)

Series without index:  0    4
1    5
2    6
dtype: int64
Series with index:  Ikka        4
Begum       5
Baadshah    6
dtype: int64